*{
    margin: 0px;
	padding: 0px;
    font-family: "Merriweather", serif;
    text-align: center;
    
    font-weight: 500;
    color: black;
}
label{
    text-align: left;
}
#divinicio{
    margin: 0px auto;
}
#todo{
    margin: 0px auto;
    /*display: none;*/
    background-color: #f4e8e6;
}
#comentado{
    background-image: url(/img/fondo.png);
    background-size: 100%;
}
.form-control{
    border-color: black;
}
.btn{
    border-color: black;
}
.btn:hover{
    background-color: black;
    color: white;
}

h2{
    font-size: 60px;
    font-family: "Dancing Script", cursive;
}
#primerP{
    font-family: "Dancing Script", cursive;
    font-size: 35px;
}
p{
    font-size: 30px;
}
.flores{
    width: 125px;
}
label{
    font-size: 15px;
}
#countdown {
    font-size: 30px;
    text-align: center;
}